.register-form {
  margin: 0 auto;
}
.register-form input {
  border: 2px solid gray;
  border-radius: 25px;
  display: block;
  width: 350px;
  height: 40px;
  font-size: 16px;
  padding: 0 15px 2px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.login-form input {
  border: 2px solid gray;
  border-radius: 25px;
  display: block;
  width: 350px;
  height: 40px;
  font-size: 16px;
  padding: 0 15px 2px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}
.register-button {
  color: rgb(0, 116, 163);
}
.register-button:hover {
  background-color: rgb(0, 116, 163);
  color: white;
  cursor: pointer;
}

.transformer {
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: -20px;
  font-family: monospace;
  font-size: 16px;
}

.login {
  color: rgb(0, 116, 163);
  text-decoration: underline;
}
